@model BanVeXeKhach.Models.DanhSachTinhXeDiQua

@{
    ViewData["Title"] = "Thêm lộ trình xe";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Thông tin lộ trình xe @ViewBag.NhaXe.bienSo - @ViewBag.NhaXe.tenNhaXe</h1>
        <a asp-action="IndexLoTrinhXe" asp-route-id="@ViewBag.NhaXe.id" class="btn btn-dark"><i class="fa fa-arrow-left"></i> Quay lại</a>
    </div>

    <form asp-action="ThemLoTrinhXe">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="content table-responsive content">
                            <div class="panel-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <input asp-for="idNhaXe" type="hidden" value="@ViewBag.NhaXe.id" class="form-control" />
                                    <span asp-validation-for="idNhaXe" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="idTinh" class="control-label"></label>
                                    <select asp-for="idTinh" asp-items="@ViewBag.DSTinh" class="form-control js-select2"></select>
                                    <span asp-validation-for="idTinh" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="thuTu" class="control-label"></label>
                                    <input asp-for="thuTu" class="form-control" />
                                    <span asp-validation-for="thuTu" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="giaVe" class="control-label"></label>
                                    <input asp-for="giaVe" class="form-control" />
                                    <span asp-validation-for="giaVe" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
